body {
  background-image: url("../images/dust_scratches.png");
}

#logo {
  font-size: 1.8em;
  background-color: #4aaaa5;
}

h2 {
  border-bottom: .08em solid #dddddd;
}

#content {
  border: 0.05em solid #dddddd;
}

#nav {
  border-bottom: 
  0.1em solid #cccccc;
}

#content-section {
  line-height: 200%;
}

#sectionHeader {
  color: #4aaaa5;
}

#footer {
  text-align: center;
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  font-size: .8em;
}

.portfolio-img {
  height: 280px;
  width: 350px;
}

@media (max-width: 576px) {
  img {
    width: 100%;
  }
  #nav {
    padding: 0;
  }

  #logo {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }

  .navItems {
    margin: 0;
    display: inline-block;
  }
}